.counter {
  background-color: var(--container);
  padding: 20px 40px;
  border-radius: 10px;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.counter h1 {
  font-size: 24px;
}

.counter button {
  cursor: pointer;
  background-color: var(--button);
  border: none;
  color: var(--text);
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 4px;
  width: 64px;
  height: 42px;
}

.counter p {
  font-size: 24px;
  border: 1.2px solid var(--text);
  width: 64px;
  height: 64px;
  margin: 0 auto;
  display: grid;
  place-content: center;
  border-radius: 99999px;
}

.counter button:hover, .counter button:active {
  background-color: #fb5966;
  color: rgb(255, 255, 255);
}

.btns {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.counter .btn-toggle {
  width: 100%;
}