:root {
  --dark-jungle-green: #092327ff;
  --deep-jungle-green: #0b5351ff;
  --light-sea-green: #00a9a5ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--dark-jungle-green);
  height: 80vh;
  display: grid;
  place-content: center;
}

.app {
  color: rgb(140, 236, 234);
  background-color: var(--deep-jungle-green);
  padding: 20px 40px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

h1 {
  font-size: 24px;
}

form {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  background-color: rgba(9, 35, 39, 0.3);
  padding: 12px;
}

input {
  width: 100%;
  outline: none;
  border: none;
  padding: 6px;
  border-radius: 2px;
}

input:nth-last-of-type(1) {
  width: 64px;
}

input:focus {
  background-color: rgba(0, 169, 166, 0.35);
  color: #fff;
  border: 2px solid var(--light-sea-green);
  padding: 4px;
}

button {
  border: none;
  padding: 6px 12px;
  border-radius: 2px;
  background-color: var(--light-sea-green);
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}

button:hover, button:active {
  background-color: rgba(0, 169, 166, 0.35);
}

ul {
  color: rgb(182, 246, 245);
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgba(9, 35, 39, 0.3);
  padding: 12px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul p {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

ul span {
  font-weight: 600;
}
