/* COLORS */
:root {
--text: #f1faeeff;
--button: #e63946;
--container: rgba(69, 123, 157, 0.6);
--background: #1d3557ff;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--background);
  display: grid;
  place-content: center;
}

button:hover,
button:active {
  background-color: #5b14ac;
  border-color: #5b14ac;
}
